.formStuff {
    padding: 30px;
}

.spacer {
    margin: 0px 10px;
}

.buttonStuff {
    margin: 30px 0px 0px 0px;
}

.eSpacer {
    margin: 20px 10px 0px 0px;
}

.taSpacer {
    margin: 20px 10px 0px 0px;
}